html,body {
  margin:0;
  font-family: 'Saira Semi Condensed', sans-serif;
}

#main {
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction: column;
 
}
/*Joyce part starts from here*/
.joyce_main{

  align-self: start;
    align-items:center;
}
#heading{
  margin-top: 50px;
  font-size: 50px;
  color:#1BA68F;
  border:4px solid  orange;
  max-height:30%;
  max-width: 80%;
  padding:15px 30px;
  border-radius: 10px;
  justify-items: center;
  align-items: center;
}
#heading:hover{
animation: skew 2s infinite;
transform: skew(12deg);
animation-direction: alternate;
opacity: .8;
}

@keyframes skew {
0% {
  transform: skew(20deg, 20deg);
}
100% {
  transform: skew(-20deg, -20deg);
}
}

.ps_container {
  width:100%;
  display:flex;
  flex-direction:column;
  justify-items: center;
  align-items: center;
  
 
}
.boxes{
  
  max-height:320px;
  max-width: 80%;
  flex-grow: 1;
  display:flex;
  flex-direction:row;
  text-align: center;
  margin:30px 0;
}



.text{
  
  display: inline;
  max-width: 40%;
  color:#6ED1BF;
  font-size: 34px;
}

.text:hover{
  text-shadow: 2px 2px 10px #CBC2C2;
}

.pic{
  justify-items: center;
  width: 50%; 
  transition: transform .2s; /* Animation */
   }
    
.pic:hover {
      transform: scale(1.2); 
    
}

.keyword{
  color:#1BA68F;
  font-size: 36px;
}
#box8 {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#box8 > .pic {
  width:80%;
 
}

/*Joyce part ends here*/


/* DONT TOUCH !! Chisaki Part Start from here */
.container {
 min-width:100%;
}
.cardquestions{
  background-color:#1BA68F;
}
.card {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  margin:30px;
  font-family: 'Saira Semi Condensed', sans-serif;
}
.mid{
  background-color:#FFFFFF;
  text-align: center;
}
.midtitle {
 color:#1BA68F;
 font-family: 'Saira Semi Condensed', sans-serif;

}

.iconsection {
  background-color:#FFAA81;
  
}
.title,.title2{
  display: flex;
  justify-content:center;
  align-items: center;
  margin:30px;
  font-family: 'Saira Semi Condensed', sans-serif;
}

.icon {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  margin:10px;
  font-family: 'Saira Semi Condensed', sans-serif;
  
}
.subtitle {
  color:#FFEBE4;
  text-align: center;
  font-family: 'Saira Semi Condensed', sans-serif;
}
.hidden{
  display:none;
}
.info {
justify-content: center;
align-items: center;
font-family: 'Saira Semi Condensed', sans-serif;
}

/* DONT TOUCH !!Chisaki Part End here*/

/*Joyce CSS buttom part styling starts from here*/
#bottom{
  margin:0;
  background-color:#3EB7B2;
  color:white;
  display:flex;
  justify-content: center;
}
#right{
  margin-top: 16%;
  display:flex;
  flex-direction: column;
  max-width: 40%;
  justify-content: flex-start;
}
#showcase{
  margin-top: 10%;
  max-width: 40%;
  justify-content: flex-end;
}

#logo{
  margin-left: 16%;
}
#content{
  font-size: 20px;
  margin-bottom: 10%;
  max-width: 80%;
}
#logo img{
  margin-bottom: 5%;
}