html,body {
  margin:0;
  font-family: 'Saira Semi Condensed', sans-serif;
  width:100vw;
  height:100vh;
}
h1,h2,h3,h4,h5,h6{
  margin:0;
}
#main {
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction: column;
 
}
/*Shin part starts from here*/
.header {
  display: flex;
  min-width: 100%;
  align-items: center;
  justify-content: center;
}

.image {
  background-image: url("Shin_code/comps/headerpic/headerbackground.png");

}
.caption {
  background-color: #3EB7B2;
  width: 100%;
}

.sub1 {
  text-align: center;
  color: #1BA68F;
  font-family:'Saira Semi Condensed', sans-serif;
}

.sub2 {
  text-align: center;
  color: yellow;
}

.headertitle_back{
  width:70%;
  height:130px;
  margin-top:5px;
  background-color: #FFFFFF;
  border-radius: 5px;
  border:3px solid #6ED1BF;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

.headertitle_back > .headertitle{
    margin:0;
  }

.sub1_back{
width:70%;
height:130px;
margin-top:5px;
background-color: #FFFFFF;
border-radius: 5px;
border:3px solid #6ED1BF;
display: block;
margin-left: auto;
margin-right: auto;
}
.sub1_back > h3{
  margin:0;
}
.headertitle{
  font-family: 'Sniglet', cursive;

 
}
.cap{
  background-color: #6ED1BF;
  text-align: center;
}
.footline{
  text-align: center;
  font-family: 'Solway', serif;
  color: yellow;
  font-size: 120px;
  line-height: 144px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.footpara{
font-family:'Saira Semi Condensed', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 94px;
color: #FFFFFF;
}
.center{
 
  display: inline;
  background-color: #FFEBE4;
}




.headimg{
width: 300px;
height: 300px;
left: 100px;
top: 400px;

}
.sideimg{
right: 10px;
top: 400px;
width: 500px;
height: 236px;

}
.arrow{
  height:80%;
  width:90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}


.form01{
  position: absolute;
  
 
}
.form02{
position: absolute;
width: 847px;
height: 117px;
left: 78px;
top: 1200px;
}
.form03{
  position: absolute;
width: 659px;
height: 114px;
left: 691.86px;
top: 1600px;
}
.form04{
position: absolute;
width: 602px;
height: 105px;
left: 78px;
top: 2000px;
}
.form05{
  position: absolute;
width: 436px;
height: 92px;
left: 766px;
top: 2350px;
}
.form06{
position: absolute;
width: 903px;
height: 116px;
left: 88px;
top: 2800px;

}
.content{
display:flex;
font-family: 'Saira SemiCondensed', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 55px;
text-align: center;
color: #1BA68F;

}
/*Shin part ends here*/

/*Joyce part starts from here*/
.joyce_main{
  background-color: white;
  width:100vw;
  display:flex;
  flex-direction:column;
  align-self: start;
  align-items:center;
  margin:50px 0;
}
#heading{
  margin-top: 100px;
  font-size: 50px;
  color:#1BA68F;
  border:4px solid  orange;
  max-height:30%;
  max-width: 80%;
  border-radius: 10px;
  text-align: center;
}

#heading:hover{
animation: skew 2s infinite;
transform: skew(7deg);
animation-direction: alternate;
opacity: .8;
}

@keyframes skew {
0% {
  transform: skew(7deg, 7deg);
}
100% {
  transform: skew(-7deg, -7deg);
}
}

.ps_container {
  width:100%;
  display:flex;
  flex-direction:column;
  justify-items: center;
  align-items: center;
}
.boxes{
  max-width: 80%;
  flex-grow: 1;
  display:flex;
  flex-direction:row;
  text-align: center;
  margin:30px 0;
}
.text{
  display: inline;
  max-width: 40%;
  color:#6ED1BF;
  font-size: 20px;
}

.text:hover{
  text-shadow: 2px 2px 10px #CBC2C2;
}

.pic{
  justify-items: center;
  width: 50%; 
  transition: transform .2s; /* Animation */
   }
    
.pic:hover {
      transform: scale(1.2); 
    
}

.pic > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.keyword{
  color:#1BA68F;
  font-size: 24px;
}
#box8 {
  width:80%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#box8 > .pic{
  width:70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}

/*Joyce part ends here*/


/* DONT TOUCH !! Chisaki Part Start from here */
.container {
 min-width:100%;
}
.cardquestions{
  background-color:#1BA68F;
}
.card {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  margin:30px;
  font-family: 'Saira Semi Condensed', sans-serif;
}
.mid{
  background-color:#FFFFFF;
  text-align: center;
}
.midtitle {
 color:#1BA68F;
 font-family: 'Saira Semi Condensed', sans-serif;

}

.iconsection {
  background-color:#FFAA81;
  
}
.title,.title2{
  display: flex;
  justify-content:center;
  align-items: center;
  margin:30px;
  font-family: 'Saira Semi Condensed', sans-serif;
}

.icon {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  margin:10px;
  font-family: 'Saira Semi Condensed', sans-serif;
  
}
.subtitle {
  color:#FFEBE4;
  text-align: center;
  font-family: 'Saira Semi Condensed', sans-serif;
}
.hidden{
  display:none;
}
.info {
justify-content: center;
align-items: center;
font-family: 'Saira Semi Condensed', sans-serif;
}

/* DONT TOUCH !!Chisaki Part End here*/

/*Joyce CSS buttom part styling starts from here*/
#bottomPart{
  width: 100%;
 background-color:#3EB7B2;
 justify-content: center;
 align-items: center;
 text-align: center;
}
#bottom{
  margin-top:10px;
  color:white;
  display:flex;
  width:80%;
  justify-content: center;

}
#right{
  display:flex;
  flex-direction: column;
  
  
}

#showcase{
 
  transition: transform .2s;
}

#showcase:hover {
      transform: scale(1.3); 
}

#content{
  font-size: 18px;
  margin-bottom: 10%;
  max-width: 80%;
  margin:0;
  margin-bottom:5px;
}
#logo img{
  margin-bottom: 2%;
}

#logo img:hover{
  box-shadow: 0 0 40px #FFFFFF;
}
footer{
    background-color: black;
    color:white;
    text-align: center;
  }