html,body {
  margin:0;
}

#main {
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction: column;
}
/*Jo*/
/* DONT TOUCH !! Chisaki Part Start from here */
.container {
 min-width:100%;
}
.cardquestions{
  background-color:#1BA68F;
}
.card {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  margin:30px;
  font-family: 'Saira Semi Condensed', sans-serif;
}
.mid{
  background-color:#FFFFFF;
  text-align: center;
}
.midtitle {
 color:#1BA68F;
 font-family: 'Saira Semi Condensed', sans-serif;

}

.iconsection {
  background-color:#FFAA81;
  
}
.title,.title2{
  display: flex;
  justify-content:center;
  align-items: center;
  margin:30px;
  font-family: 'Saira Semi Condensed', sans-serif;
}

.icon {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  margin:10px;
  font-family: 'Saira Semi Condensed', sans-serif;
  
}
.subtitle {
  color:#FFEBE4;
  text-align: center;
  font-family: 'Saira Semi Condensed', sans-serif;
}
.hidden{
  display:none;
}
.info {
justify-content: center;
align-items: center;
font-family: 'Saira Semi Condensed', sans-serif;
}

/* DONT TOUCH !!Chisaki Part End here*/

/*Joyce CSS buttom part styling starts from here*/
#bottom{
  margin:0;
  background-color:#3EB7B2;
  color:white;
  display:flex;
  justify-content: center;
}
#right{
  margin-top: 16%;
  display:flex;
  flex-direction: column;
  max-width: 40%;
  justify-content: flex-start;
}
#showcase{
  margin-top: 10%;
  max-width: 40%;
  justify-content: flex-end;
}

#logo{
  margin-left: 16%;
}
#content{
  font-size: 20px;
  margin-bottom: 10%;
  max-width: 80%;
}
#logo img{
  margin-bottom: 5%;
}