html, body{
    margin:0;
    font-family: 'Saira Semi Condensed', sans-serif;

}

#main{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-self: start;
    align-items:center;

}

#heading{
    margin-top: 20px;
    font-size: 30px;
    color:#1BA68F;
    border:2px solid  orange;
    max-height:30%;
    max-width: 80%;
    padding:15px 30px;
    border-radius: 10px;
}
.ps_cpntainer {
    display:flex;
    flex-direction:column;
    text-align: center;
}
.boxes{
    height:100px;
    max-width: 80%;
    flex-grow: 1;
    flex-direction:column;
}
.text{
    display: inline;
    max-width: 50%;
    color:#6ED1BF;
    fint
}

.picture{
    width: 50%;
}

.keyword{
    color:#1BA68F;
}

