html, body{
    margin:0;
    font-family: 'Saira Semi Condensed', sans-serif;

}

#main{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-self: start;
    align-items:center;

}

#heading{
    margin-top: 20px;
    font-size: 30px;
    color:#1BA68F;
    border:2px solid  orange;
    max-height:30%;
    max-width: 80%;
    padding:15px 30px;
    border-radius: 10px;
}
.ps_container {
    display:flex;
    flex-direction:column;
    justify-items: center;
    align-items: center;
    
   
}
.boxes{
    min-height:150px;
    max-width: 80%;
    flex-grow: 1;
    display:flex;
    flex-direction:row;
    text-align: center;
    margin:20px 0;
}
.text{
    display: inline;
    max-width: 50%;
    color:#6ED1BF;
    font-size: 30px;
    
}

.pic{
    width: 50%;
}

.keyword{
    color:#1BA68F;
    font-size: 40px;
}
#box8 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#box8 > 