html,body {
  margin:0;
}

#main {
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction: column;
}
/* Shin */
.header {
  display: flex;
  min-width: 100%;
  align-items: center;
  justify-content: center;
}

.image {
  background-image: url("comps/headerpic/headerbackground.png");

}
.caption {
  background-color: #3EB7B2;
  width: 100%;
  height: 740px;
  

}

.sub1 {

  text-align: center;
  color: #1BA68F;
  font-family:'Saira Semi Condensed', sans-serif;
  
  
}

.sub2 {
  text-align: center;
  color: yellow;
}

.headertitle_back{
  width:70%;
  height:130px;
  margin-top:5px;
  background-color: #FFFFFF;
  border-radius: 5px;
  border:3px solid #6ED1BF;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  .headertitle_back > .headertitle{
    margin:0;
  }

.sub1_back{
width:70%;
height:130px;
margin-top:5px;
background-color: #FFFFFF;
border-radius: 5px;
border:3px solid #6ED1BF;
display: block;
margin-left: auto;
margin-right: auto;
}
.sub1_back > h3{
  margin:0;
}
.headertitle{
  font-family: 'Sniglet', cursive;
  color: #1BA68F;
  text-align: center;
  justify-items: center;
  z-index: 0;
}
.cap{
  background-color: #6ED1BF;
  text-align: center;
}
.footline{
  text-align: center;
  font-family: 'Solway', serif;
  color: yellow;
  font-size: 120px;
  line-height: 144px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.footpara{
font-family:'Saira Semi Condensed', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 94px;
color: #FFFFFF;
}
.center{
  background-image: url("comps/content/background.png");
  display: inline;
}




.headimg{
width: 300px;
height: 300px;
left: 100px;
top: 400px;

}
.sideimg{
right: 10px;
top: 400px;
width: 500px;
height: 236px;

}
.arrow{
  z-index: -1;
  
}


.form01{
  position: absolute;
  width: 895px;
  height:236px;
  left: 550px;
  top: 850px;
}
.form02{
position: absolute;
width: 847px;
height: 117px;
left: 78px;
top: 1200px;
}
.form03{
  position: absolute;
width: 659px;
height: 114px;
left: 691.86px;
top: 1600px;
}
.form04{
position: absolute;
width: 602px;
height: 105px;
left: 78px;
top: 2000px;
}
.form05{
  position: absolute;
width: 436px;
height: 92px;
left: 766px;
top: 2350px;
}
.form06{
position: absolute;
width: 903px;
height: 116px;
left: 88px;
top: 2800px;

}
.form01,.form02,.form03,.form04,.form05,.form06{

font-family: 'Saira SemiCondensed', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 55px;
text-align: center;
text-decoration-line: underline;
color: #1BA68F;

}

/* DONT TOUCH !! Chisaki Part Start from here */
.container {
 min-width:100%;
}
.cardquestions{
  background-color:#1BA68F;
}
.card {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  margin:30px;
  font-family: 'Saira Semi Condensed', sans-serif;
}
.mid{
  background-color:#FFFFFF;
  text-align: center;
}
.midtitle {
 color:#1BA68F;
 font-family: 'Saira Semi Condensed', sans-serif;

}

.iconsection {
  background-color:#FFAA81;
  
}
.title,.title2{
  display: flex;
  justify-content:center;
  align-items: center;
  margin:30px;
  font-family: 'Saira Semi Condensed', sans-serif;
}

.icon {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  margin:10px;
  font-family: 'Saira Semi Condensed', sans-serif;
  
}
.subtitle {
  color:#FFEBE4;
  text-align: center;
  font-family: 'Saira Semi Condensed', sans-serif;
}
.hidden{
  display:none;
}
.info {
justify-content: center;
align-items: center;
font-family: 'Saira Semi Condensed', sans-serif;
}

/* DONT TOUCH !!Chisaki Part End here*/
