html,body {
  margin:0;
}

#main {
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction: column;
}
/* Shin */
.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.image {
  background-image: url("comps/headerpic/headerbackground.png");

}
.caption {
  background-color: #3EB7B2;
  width:100%;
  height: 740px;
  left: -1px;
  top: 0px;

}

.sub1 {
  text-align: center;
  color: #1BA68F;
  font-family:'Saira Semi Condensed', sans-serif;
}
.sub1_back{
width:70%;
height:30px;
background-color: #FFFFFF;
border-radius: 10px;;
display: block;
margin-left: auto;
margin-right: auto;
}
.sub2 {
  text-align: center;
  color: yellow;
}

.headertitle{
  font-family:'Saira Semi Condensed', sans-serif;
  color: #1BA68F;
  text-align: center;
}
.cap{
  background-color: #6ED1BF;
  text-align: center;
}
.footline{
  text-align: center;
  font-family: 'Solway', serif;
  color: yellow;
  font-size: 120px;
  line-height: 144px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.footpara{
font-family:'Saira Semi Condensed', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 94px;
color: #FFFFFF;
}
.center{
  background-image: url("comps/content/background.png");
  display: inline;
 
}
.header_back{

  width:80%;
  height:100px;
  background-color: #FFFFFF;
  border-radius: 10px;
}
.header_back > h1 {
  margin:0;
}
.headertitle{

}
.headimg{
width: 150px;
height: 150px;
left: -11px;
top: 400px;
}
.sideimg{
right: -11px;
top: 400px;
width: 150px;
height: 150px;
}
.arrow{
  z-index: -1;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

/* DONT TOUCH !! Chisaki Part Start from here */
.container {
 min-width:100%;
}
.cardquestions{
  background-color:#1BA68F;
}
.card {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  margin:30px;
  font-family: 'Saira Semi Condensed', sans-serif;
}
.mid{
  background-color:#FFFFFF;
  text-align: center;
}
.midtitle {
 color:#1BA68F;
 font-family: 'Saira Semi Condensed', sans-serif;

}

.iconsection {
  background-color:#FFAA81;
  
}
.title,.title2{
  display: flex;
  justify-content:center;
  align-items: center;
  margin:30px;
  font-family: 'Saira Semi Condensed', sans-serif;
}

.icon {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  margin:10px;
  font-family: 'Saira Semi Condensed', sans-serif;
  
}
.subtitle {
  color:#FFEBE4;
  text-align: center;
  font-family: 'Saira Semi Condensed', sans-serif;
}
.hidden{
  display:none;
}
.info {
justify-content: center;
align-items: center;
font-family: 'Saira Semi Condensed', sans-serif;
}